<div class="mt-4">
  <h3>Edit Blog</h3>

  <form class="mt-4" method="POST" action="/blogs/{{blog._id}}?_method=PUT">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        value="{{blog.name}}"
        id="name"
        name="name"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        value="{{blog.description}}"
        id="description"
        name="description"
      />
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input
        type="text"
        class="form-control"
        value="{{blog.image}}"
        id="image"
        name="image"
      />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>